* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'DM Sans';
}

body {
    width: 1220px;
    margin: auto;
    background-color: #E5E5E5;
    ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {

    background-image: url(../image/hs..svg);
    width: 64px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}


header nav {
    display: flex;


}

header nav p {
    font: 500 22px 'DM Sans';
    color: #181717;


}

header nav p:not(:last-child) {
    margin-right: 20px;
}

.preview {
    margin-top: 128px;
}

.info h1 {
    font-style: normal;
    font: 500 60px'DM sans';
    color: #181717;
}

.info p {
    font-style: normal;
    font: 400 32px 'DM sans';
    color: #606060;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    background-image: url(../image/↓.svg);
    width: 34px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 128px;
    position: relative;
}

.arrow:hover {
    margin-top: 2px;
}

.portfolio {
    margin-top: 83px;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.box h2 {
    font-style: normal;
    font: 500 24px 'DM Sans';
    color: #181717;
}

.box h3 {
    font-style: normal;
    font: 400 22px 'DM Sans';
    color: #181717;
    margin-top: 25px;
}

.box h4 {
    font-style: normal;
    font: 400 22px 'DM Sans';
    color: #606060;
    margin-top: 35px;
}

.box p {
    font-style: normal;
    font: 500 22px 'DM Sans';
    color: #181717;
    margin-top: 167px;
    text-decoration: underline;
}

.img3 {
    background-image: url(../image/Thumbnail.svg);
    width: 640px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: contain;
}

.line {
    Width: 1115.06px;
    border: 1.5px solid #181717;
    margin-top: 107px;
}

.flex2 {
    display: flex;
    justify-content: space-between;
}

.second h2 {
    margin-top: 114px;
    font-style: normal;
    font: 500 24px 'DM Sans';
    color: #181717;
}

.second h3 {
    margin-top: 32px;
    font-style: normal;
    font: 400 22px 'DM Sans';
    color: #181717;
}

.second h4 {
    margin-top: 20px;
    font-style: normal;
    font: 400 22px 'DM Sans';
    color: #606060;
}

.second p {
    margin-top: 156px;
    font-style: normal;
    font: 500 22px 'DM Sans';
    color: #181717;
    text-decoration: underline;
}

.image {
    background-image: url(../image/Thumbnail.svg);
    width: 640px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 114px;
}


.line2 {
    Width: 1115.06px;
    border: 1.5px solid #181717;
    margin-top: 107px;
}

.flex3 {
    display: flex;
    justify-content: space-between;
}

.third h2 {
    font-style: normal;
    font: 500 24px 'DM Sans';
    color: #181717;
    margin-top: 114px;
}

.third h3 {
    font-style: normal;
    font: 400 22px 'DM Sans';
    color: #181717;
    margin-top: 46px;
}

.third h4 {
    font-style: normal;
    font: 400 22px 'DM Sans';
    color: #606060;
    margin-top: 18px;
}

.third p {
    font-style: normal;
    font: 500 22px 'Inter';
    text-decoration-line: underline;
    color: #181717;
    margin-top: 143px;
}

.picture {
    background-image: url(../image/Thumbnail.svg);
    width: 640px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 114px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    display: flex;
}

.year {
    font-style: normal;
    font: 500 22px 'DM Sans';
    color: #2429AF;
    margin-top: 126px;
}

footer nav p {
    font-style: normal;
    font: 500 22px 'DM Sans';
    color: #181717;
    margin-top: 128px;
}

footer nav p:not(:last-child) {
    margin-right: 20px;
}

